background = #333639
background-off = #292C2F
font-color = #EDEFF0
font-color-disabled = #5E5F61
primary = #70A6DB
primary-hover = #2F74B9
primary-disabled = #D3E2EA
off-white = #EAEDFA
disabled = #FFF
